{% extends 'base.html.twig' %}

{% block body %}

<h1 id = "edit">Edit Story Details</h1>

<div class = "error">{%if message is defined %}{{message}}{% endif %}</div>

<form id = "add" method = "POST" enctype = "multipart/form-data" action = "">
	<label>Title</label>
	<br />
	<input type = "text" name = "title" value = "{{work.Title}}">
	<br />
	<br />
	<label>Description</label>
	<br />
	<input type = "text" name = "desc" value = "{{work.Description}}">
	<br />
	<br />
	<label>Genre:</label>
	<select name = "genre">
		<option selected hidden name = "{{work.Genre}}" value ="{{work.Genre}}">{{work.Genre}}</option>
		<option name = "Fantasy" value="Fantasy">Fantasy</option>
		<option name = "Science Fiction" value="Science Fiction">Science Fiction</option>
		<option name = "Mystery" value="Mystery">Mystery</option>
		<option name = "Historical Fiction" value="Historical Fiction">Historical Fiction</option>
		<option name = "Fanfiction" value="Fanfiction">Fanfiction</option>
		<option name = "General Fiction" value="General Fiction">General Fiction</option>
		<option name = "Poetry" value="Poetry">Poetry</option>
	</select>
	<br />
	<br />
	<label>Rating:</label>
	<select name = "rating">
		<option selected hidden name = "{{work.Rating}}" value ="{{work.Rating}}">{{work.Rating}}</option>
		<option name = "G" value="G">G</option>
		<option name = "T" value="T">T</option>
		<option name = "M" value="M">M</option>
		<option name = "E" value="E">E</option>
	</select>
	<br />
	<br />
	<label>Cover: </label><input type = "file" name = "photo" />
	<br />
	<br />
	<label>Tags:</label>
	<br />
	<input type = "text" name = "tags" value = "{{work.Tags}}"/>

	<br />
	<br />
	<input type = "submit" value = "Submit Work">

{% endblock %}
