{% extends 'base.html.twig' %}

{% block body %}

<h1 id = "edit">Edit Profile</h1>

<div class = "error">{%if message is defined %}{{message}}{% endif %}</div>


<form name = "edit" id = "edit" enctype = "multipart/form-data" action = "/edit" method = "POST">
	<label>Username</label>
	<br />
	<input type = "text" name = "username" value = "{{app.session.get('user').username}}"/>
	<br />
	<br />
	<label>Email</label>
	<br />
	<input type = "email" name = "email" value = "{{app.session.get('user').email}}"/>
	<br />
	<br />
	<label>Profile Picture: </label>
	<br />
	<img id = "currentpic" src="/img/{{app.session.get('user').pic}}" />
	<br />
	<br />
	<div id = "button-container">
		<button id = "changePic" type = "button">Change Image</button>
		<!--<input type = "file" name = "photo" />-->
	</div>
	<br />
	<label>About</label>
	<br />
	<textarea name = "about">{{app.session.get('user').about}}</textarea>
	<br />
	<br />
	<label>Location</label>
	<br />
	<input type = "text" name = "location" value = "{{app.session.get('user').location}}" />
	<br />
	<br />
	<input type = "checkbox" name = "show" value = "show"{%if app.session.get('user').show == true %}checked{% endif %}/><label> Show Age on Profile</label>
	<br />
	<br />
	<a href="/delete" onClick="return confirm('Are you sure you want to delete your account? Your data and uploaded works will be removed from the server.')">Delete Account</a>
	<br />
	<br />
	<input type = "submit" value = "Update Profile" />

</form>

{% endblock %}
