{% extends 'base.html.twig' %}

{% block body %}

<h1 id = "edit">Edit Story Details</h1>

<div class = "error">{%if message is defined %}{{message}}{% endif %}</div>

<form id = "add" method = "POST" enctype = "multipart/form-data" action = "">
	<label>Title:</label>
	<br />
	<input type = "text" name = "title" value = "{{work.Title}}">
	<br />
	<br />
	<label>Description:</label>
	<br />
	<input type = "text" name = "desc" value = "{{work.Description}}">
	<br />
	<br />
	<label>Genre:</label>
	<select name = "genre">
		<option selected hidden name = "{{work.Genre}}" value ="{{work.Genre}}">{{work.Genre}}</option>
		<option name = "Fantasy" value="Fantasy">Fantasy</option>
		<option name = "Science Fiction" value="Science Fiction">Science Fiction</option>
		<option name = "Mystery" value="Mystery">Mystery</option>
		<option name = "Historical Fiction" value="Historical Fiction">Historical Fiction</option>
		<option name = "Fanfiction" value="Fanfiction">Fanfiction</option>
		<option name = "General Fiction" value="General Fiction">General Fiction</option>
		<option name = "Poetry" value="Poetry">Poetry</option>
	</select>
	<br />
	<br />
	<label>Rating:</label>
	<select name = "rating">
		<option selected hidden name = "{{work.Rating}}" value ="{{work.Rating}}">{{work.Rating}}</option>
		<option name = "G" value="G">G</option>
		<option name = "T" value="T">T</option>
		<option name = "M" value="M">M</option>
		<option name = "E" value="E">E</option>
	</select>
	<br />
	<br />
	<label>Cover: </label>
	<br />
	<img id = "currentCover" src="/coverimg/{{work.Cover}}" />
	<br />
	<br />
	<div id = "button-container">
		<button id = "changePic" type = "button">Change Image</button>
		<!--<input type = "file" name = "photo" />-->
	</div>
	<br />
	<label>Tags:</label>
	<br />
	<input type = "text" name = "tags" value = "{{work.Tags}}"/>
	<br />
	<br />

	{% if chapterTitles|length == 1 %}
 	<a href="/work/{{work.ID}}/chapter_1/edit">Edit Content</a>
	{% endif %}

  {% if chapterTitles|length > 1 %}
	<h3>Chapters</h3>
	{% for i in 1..chapterTitles|length%}
		<p class = "exclude">{{chapterTitles[i-1]}} - <a href="/work/{{work.ID}}/chapter_{{i}}/edit">Edit</a></p>
	{% endfor %}
	{% endif %}
	<br />
	<a href="/work/{{work.ID}}/add">Add a New Chapter</a>

	<br />
	<br />

	<a href="/work/{{work.ID}}/delete" onClick="return confirm('Are you sure you want to delete this work?')">Delete This Work</a>

	<br />
	<br/>

	<input type = "submit" value = "Submit Work">

{% endblock %}
