{% extends 'base.html.twig' %}

{% block body %}

  <h1>{{pageUser.username}}</h1>
  <br />
  <img id = "propic" src="/img/{{pageUser.pic}}" />
  <div id = "info">
  <p><strong>About</strong>: {{pageUser.about}}</p>
  <p><strong>Location</strong>: {{pageUser.location}}</p>
  <p><strong>Joined</strong>: {{pageUser.joined}}</p>
  {% if pageUser.show %}<p><strong>Age</strong>: {{pageUser.age}}</p>{% endif %}
  <p><strong>Total Word Count</strong>: {{pageUser.wordcount}}</p>
  </div>

  <br />
  {% if usermatch %}
  <br />
  <a href="../add" id = "addworkbutton">Add New Work</a>
  <br />
  {% endif %}

  <br />

  <h3>Works by Author</h3>

  <br />

  {% for work in works %}

    <li class = "displayWorks">
      <a href="/work/{{work.ID}}"><img src="../coverimg/{{work.Cover}}" /></a>
      <br />
      <div class = "sidebar">
        <p class = "first" ><strong>{{work.Title}}</strong></p>
        <p class = "pdesc">{{work.Description}}</p>
        <a href="/work/{{work.ID}}"><p>Read ></p></a>
      </div>
    </li>

  {% endfor %}

{% endblock %}
