{% extends 'base.html.twig' %}

{% block body %}

<h1>{{pageWork.title}}</h1>
<br />
<img id = "cover" src="/coverimg/{{pageWork.cover}}">
<div id = "workDesc">
<p><strong>Author</strong>: <a href="/user/{{pageWork.author}}">{{pageWork.authorname}}</a></p>
<p><strong>Description</strong>: {{pageWork.desc}}</p>
<p><strong>Genre</strong>: {{pageWork.genre}} | <strong>Rating</strong>: {{pageWork.rating}}</p>
<p><strong>Tags</strong>: {{pageWork.tags}}</p>
<p><strong>Published</strong>: {{pageWork.dateposted}} | <strong>Last Updated</strong>: {{pageWork.lastupdate}}</p>
<p><strong>Word Count</strong>: {{pageWork.wordcount}}</p>
</div>
<br />
<br />

{% if usermatch %}
<a id = "editwork" href="/work/{{pageWork.ID}}/edit">Edit Work Details</a>
<br />
{% endif %}

<hr />

<br />

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div style = "vertical-align: top" class="fb-share-button" data-href="/work/{{pageWork.ID}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
{%if pageWork.numChapters > 1 %}
<select id = "chooseChapter" name = "chooseChapter">
  {% for i in 1..pageWork.numChapters%}
    <option {% if i == currentChapter %}selected{% endif %} value = "{{i}}">{{chapterTitles[i-1]}}</option>
  {% endfor %}
</select>
<br />
<br />
<h3 class = "chapTitle">{{chaptertitle}}</h3>
{% endif %}
<br />
<p>{{content | raw }}</p>


{% endblock %}
